<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>BucketLister Dashboard</h4>
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{'active' : model.clicked == 'home'}" ng-click="model.clicked = 'home'"><a ui-sref-active="active" ui-sref="dashboard.nav">Home</a></li>
        <li ng-class="{'active' : model.clicked == 'item'}" ng-click="model.clicked = 'item'"><a ui-sref-active="active" ui-sref="dashboard.item">View Items</a></li>
        <li ng-class="{'active' : model.clicked == 'template'}" ng-click="model.clicked = 'template'"><a ui-sref-active="active" ui-sref="dashboard.template">View Templates</a></li>
        <li ng-class="{'active' : model.clicked == 'user'}" ng-click="model.clicked = 'user'"><a ui-sref-active="active" ui-sref="dashboard.user">View Users</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
 		<div ui-view></div>
    </div>

  </div>
</div>
