<div class="container" ng-init="model.getUsers()">
	<div ng-if="model.users.length > 0">
		<div class="col-sm-3">
			<ul>
				<span>
					Select Account
				</span>
	        	<span ng-repeat="user in model.users">
					<li><button ng-click="model.select(user)" ng-bind="user.firstName"></button></li>
				</span>
      		</ul><br>
		</div>
		<div class="col-sm-9">
			<form ng-show="model.user" action="/updateUser" method="post" class="validate-form">

				<span>
					Edit Account
				</span>

				<div>
					<input ng-value="model.user.firstName" type="text" name="firstName" placeholder="First Name">
				</div>
		
				<div>
					<input ng-value="model.user.lastName" type="text" name="lastName" placeholder="Last Name">
				</div>

				<div>
					<input ng-value="model.user.email" type="text" name="email" placeholder="Email">
				</div>

				<div>
					<input ng-value="model.user.username" type="text" name="username" placeholder="Username">
				</div>

				<div>
					<input ng-value="model.user.password" type="password" name="password" placeholder="Password">
				</div>

				<div>
				    <select name="role" ng-model="model.user.role">
						<option value="User">User</option>
						<option value="Admin">Admin</option>
					</select>
				</div>

				<div >
					<button type="submit" value="Sign Up">
						Update
					</button>
				</div>

			</form>
		</div>
	</div>
</div>
