<!-- Header -->
<div ng-include="'main/views/header.client.view.html'"></div>
<!-- About -->
<div ng-include="'main/views/about.client.view.html'"></div>
<!-- Features -->
<div ng-include="'main/views/features.client.view.html'"></div>
<!-- Callout -->
<div ng-include="'main/views/callout.client.view.html'"></div>
<!-- Goals -->
<div ng-include="'main/views/recent.goal.client.view.html'"></div>
<!-- Call to Action -->
<div ng-include="'main/views/call.to.action.client.view.html'"></div>
<!-- Footer -->
<div ng-include="'main/views/footer.client.view.html'"></div>