<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Goals</h3>
      <h2 class="mb-5">Recently Added Goals</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h3>Visit Japan</h3>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h3>Learn Guitar</h3>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h3>Skydiving</h3>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h3>Swim with Dolphins</h3>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
